body{
	background: url('citygirl.jpg')no-repeat;
	background-size: cover;
}
/*Strip the ul of padding and list styling*/

ul{
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
}
/*Horizontal list with spacing*/
li{
	display: inline-block;
	float: left;
	margin-right: 1px;
}
li a{
	display: block;
	min-width: 140px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff;
	background: #2f3036;
	text-decoration: none;
}